body{

    background-color: brown;

}
div{
    border: chartreuse;
}
font{
    color: green;
}
H1{
    font-size: large; color: gold; alignment: center;
}
[class*="container-"]{
    background: black;
    border: 1px solid white;
    text-align: center;

}