<div th:fragment="navbar">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/static" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/projects}" class="nav-link px-2 link-secondary">Projekty</a></li>
            <li><a th:href="@{/projects/create}" class="nav-link px-2 ">Nowy projekt</a></li>
            <li><a th:href="@{/issues}" class="nav-link px-2">Zadania</a></li>
            <li><a href="#" class="nav-link px-2">Użytkownicy</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Moje konto</button>
            <button type="button" class="btn btn-primary">Wyloguj</button>
        </div>
    </header>
</div>