body{
    background-color: black;
}
main{
    background-color: black;
}

div{
    border-style: inset;
    border-spacing: initial;
    border-color: gray;
    margin-outside: 5%;
    padding: 2%;

}
font{
    font-style: oblique;
    color: aliceblue;
    font-family: "JetBrains Mono ExtraBold";

}
H1{
    font-size: large; color: white; text-align: center;
}
[class*="container-"]{
    background-color: black;
    border: 1px solid white;
    text-align: center;

}

[class*="btn-secondary"]{
    width: 10%;
}